@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
  }
}

/* .custom-radio input:checked+div {
  border: 3px solid blue;
  position: relative;
}

.custom-radio input:checked+div::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: blue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.custom-radio {
  width: 10px;
  height: 10px;
}

.custom-radio input+div {
  box-shadow: 0 0 0 5px white;
}

.custom-radio input:checked+div {
  @apply bg-blue-500;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity)) !important;
  box-shadow: 0 0 0 2.5px white, 0 0 0 5px rgb(59 130 246 / var(--tw-bg-opacity));
}